@import url('https://fonts.googleapis.com/css2?family=Outfit');
@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

html,
body,
#app {
  font-family: 'Outfit', sans-serif;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #f3f4f6 inset;
  box-shadow: 0 0 0px 1000px #f3f4f6 inset;
  -webkit-text-fill-color: #1e293b;
  font-family: var(--font-sans);
}

html.dark input:-webkit-autofill,
html.dark input:-webkit-autofill:hover,
html.dark input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px #020617 inset;
  box-shadow: 0 0 0px 1000px #020617 inset;
  -webkit-text-fill-color: #ffffff;
}
